{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <a class="list-group-item active text-white bg-black" href="{% url 'profiles' %}"
                    style="border: 1px solid #fff;">
                    My Details </a>
                <a class="list-group-item text-white bg-black" href="{% url 'my_orders' %}"
                    style="border: 1px solid #fff;"> My Orders </a>
                {% if request.user.is_superuser %}
                <div class=" list-group-item text-white bg-black">
                    <h6>Product Management</h6>
                    <a href="{% url 'add_product' %}" class="list-group-item text-white bg-black"
                        style="border-top:1px solid #fff;">Add new Product</a>
                </div>

                {% endif %}
                <a class="list-group-item text-white bg-black" href="{% url 'account_change_password' %}"
                    style="border: 1px solid #fff;"> Change Passowrd
                </a>
            </ul>
            <br>
        </div>
        <div class="col-9">
            <form action="{% url 'edit_product' product.id %}" class="form mb-2" method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-rigth">
                    <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0">Cancel</a>
                    <button class="btn btn-black rounded-0" type="submit">Update Product</button>
                </div>
            </form>
        </div>
    </div>

    {% endblock %}