@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Roboto:wght@100;300;400;500&display=swap');

html {
    height: 100%;
}

.main-banner{
    width: 100%;
}

.clearance-wrapper{
    background-color: #FC2947;
    height: 300px;
}
.deals-wrapper{
    background-color: #7149C6;
    height: 300px;
}
.new-arrivals-wrapper{
    background-color: #FE6244;
    height: 300px;
}

.main-subtitles{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}